.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15.625rem;
}

.budget-card {
  background: var(--ion-color-dark-200);
  min-height: 15.313rem;
  border-radius: 1.563rem;
  padding: 1rem;
}

.budget-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--ion-color-dark-300);
  padding-bottom: 1rem;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.budget-card-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  .budget-card-meta-item {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;

    span {
      font-size: 0.87rem;
    }
  }
}

ion-label {
  font-weight: 590;
}

.budget-card-meter {
  margin-top: 1rem;
  ion-range {
    --bar-background: rgba(92, 154, 247, 0.2);
    --bar-background-active: #5c9af7;
    --bar-height: 18px;
    --bar-border-radius: 8px;
    --knob-size: 0px;
    padding: 0;
  }
}

.budget-notice {
  display: block;
  margin-top: 0.8rem;
}
